<div id='post_{{ post.id }}' class='post'>
    <div id='post_title_{{ post.id }}' class='post_title'>{{ post.title }}</div>
    <div id='post_image_{{ post.id }}' class='post_image'>
        <img src='postImages/{{ post.imageName }}' alt='{{ post.imageOriginalName }}'/>
    </div>
</div>
